folder_path_xlss=путь для чтения ексель файлов
# PostgreSQL
DB_URL=your full URL
DB_HOST=localhost
DB_PORT=5432
DB_NAME=product_db
DB_USER=user
DB_PASSWORD=password

# SimaLand API
SUPLIER_API=https://www.sima-land.ru/api/v5/item/
SUPLIER_API_KEY=your_api_key

# OpenAI
OPENROUTER_API_KEY=key
OPENROUTER_BASE_URL="https://openrouter.ai/api/v1"

# Ozon
OZON_CLIENT_ID=
OZON_API_KEY=
OZON_API_URL=https://api-seller.ozon.ru

# Wildberries
WB_API_KEY=
WB_API_URL=https://suppliers-api.wildberries.ru

# Yandex Market
YANDEX_API_KEY=
YANDEX_CAMPAIGN_ID=
YANDEX_API_URL=https://api.partner.market.yandex.ru