<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Barcode Scanner</title>
    <script src="https://unpkg.com"></script>
</head>
<body>
    <div id="reader" style="width: 100%;"></div>
    <script>
        function onScanSuccess(decodedText, decodedResult){
        html5QrcodeScanner.clear();
        fetch('/barcode', {
        method: 'Post',
        headers: {'Content-Type': 'application/x-www-form-urlencoded'},
        body: 'barcode=${encodeURIComponent(decodedText)}'
        })
        .then(response => response.json())
        .then(data => alert('успех! Штрихкод ${data.barcode}'))
        .catch(err => console.error(err));
        }
        let html5QrcodeScanner = new Html5QrcodeScanner(
            "reader",
            {fps: 10, qrbox: {width: 250, height: 150} },
            /* verbose= */ false
        );
        html5QrcodeScanner.render(onScanSuccess);
    </script>

</body>
</html>